@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
  /* margin: 0; */
  background: rgb(31,52,68);
  background: linear-gradient(90deg, rgba(31,52,68,1) 0%, rgba(75,104,124,1) 100%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  margin-top: 14.375em;
  width: 100%;
  text-align: center;
}

.container-logo {
  width: 100%;
}

h1 {
  margin-top: -15px;
  font-family: 'Bebas Neue', cursive;
  font-size: 3.125em;
  color: aliceblue;
}

p {
  margin-top: -2.5em;
  color: azure;
}
.logo {
  width: 15.625em;
  margin: auto;
}

a{
  margin: 1.5em;
}


.bi {
  cursor: pointer;
  fill: white;
}

.bi-instagram:hover{
  fill:  #833AB4;
}

.bi-twitter:hover {
  fill: #405DE6;
}

.bi-github:hover {
  fill: #000000;
}

.bi-linkedin:hover {
  fill: #0072b1;
}

.bayangan {
  text-shadow: 6px 5px 11px #000000;
}