.cont {
    padding-top: 250px;
}

.instagram{
    cursor: pointer;
}

.twitter{
    cursor: pointer;
}

.github {
    cursor: pointer;
}

.linkedin {
    cursor: pointer;
}

.instagram:hover{
    fill:  #833AB4;
}

.twitter:hover {
    fill: #405DE6;
}

.github:hover {
    fill: #FD1D1D;
}

.linkedin:hover {
    fill: #0072b1;
}

a {
    color: black;
    text-decoration: none;
}